@charset "UTF-8";

* {
    font-family: Arial;
    font-size:20px;
    font-style: italic;
}

body {
	color:rgb(10, 0, 0);
	margin: 0;
}

#container {
	position:absolute;
}

#webglcanvas {
	border:none;
	background-color:#ffffff;
}

#title {
	position:absolute;
	left:20px;
	top:20px;
	color:Ivory;
}
#prompt {
	position:absolute;
	bottom:20px;
	left:20px;
	color:Ivory;
}